* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1px;
  cursor: url(../img/menu/cursor.png), default;
}

body {
  background-color: #151515;
  color: #fff;
  font-family: 'Slabo 27px', serif;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}
main::after {
  content: "";
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  
  transition: .7s;
}

h1 {
  font-size: 100px;
  margin: 40px 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #1e697b;
}

.header {
  text-align: center;
  position: fixed;
  margin: 0;
  top: 100px;
  line-height: 100%;
  left: 0;
  right: 0;
  
  transition: .8s;
}

main.in-game .header {
  top: 10px;
}

main.is-modal::after {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  z-index: 100;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #808080;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  
  transition: .5s;
}
.modal.redy {
  transform: translate(-50%, -50%) scale(1);
}
.modal h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

#container {
  margin: auto;
  height: 100vh;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-flag,
.bg-spade {
  height: 600px;
  width: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  bottom: 20px;
}

.bg-flag {
  background-image: url(../img/menu/flag.png);
  right: 20px;
}
.bg-spade {
  background-image: url(../img/menu/spade.png);
  left: 20px;
}

.menu-btns-container {
  position: absolute;
  height: 500px;
  bottom: 60px;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  
  transition: .7s;
}

.menu-btn,
.map-size-btn {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  font-family: 'Slabo 27px', serif;
  background: none;
  cursor: url(../img/menu/cursor.png), default;
  position: relative;
  color: #fff;
  font-size: 40px;
}

main.in-game .menu-btns-container {
  transform: translateY(120%);
}

.menu-btn::before,
.map-size-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  
  transition: .1s linear;
}

.menu-btn {
  margin-top: 30px;
  width: 300px;
  height: 60px;
  text-shadow: 0 0 40px #0a3538;
  
  transition: .5s;
}
.menu-btn:hover,
.menu-btn:focus {
  color: #4f9cae;
}
.menu-btn::before {
  background: url(../img/menu/button.png);
  background-position: bottom;
}
.menu-btn:hover::before,
.menu-btn:focus::before {
  transform: scale(1.07);
}

.map-size-btn {
  width: 450px;
  height: 80px;
  margin-top: 20px;
  text-align: right;
  padding: 0 10px;
  box-sizing: border-box;
  
  transition: .5s;
}
.map-size-btn:hover,
.map-size-btn:focus {
  color: #4f9cae;
}
.map-size-btn::before {
  background-color: #524a4a;
  border-radius: 10px;
  transform: translateY(-15%);
}
.map-size-btn:hover::before,
.map-size-btn:focus::before {
  background-color: #302828;
}

.map-size-btn .nof-mines {
  position: absolute;
  left: 30px;
  top: 15px;
}
.map-size-btn .nof-mines::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  transform: translateY(5px);
  width: 32px;
  height: 32px;
  background-image: url(../img/game/mine.png);
  
  transition: .1s linear;
}
.map-size-btn:hover .nof-mines::after {
  transform: translateY(5px) scale(1.1);
}

.map {
  width: calc(100vh - 150px);
  height: calc(100vh - 150px);
  margin: auto;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  transform: scale(0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  
  transition: .5s;
}
.map.redy {
  transform: scale(1);
}

.field {
  background-color: #524a4a;
  border-radius: 5%;
  box-shadow: 0 0 6px #222;
  box-sizing: border-box;
  display: block;
/*  position: absolute;*/
  color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: .1s;
}
.field:hover {
  background-color: #302828;
  box-shadow: 0 0 12px #222;
}
.field.open {
  background-color: #746c6c;
  box-shadow: none;
}
.field.open:hover {
  background-color: #746c6c;
  box-shadow: none;
}

.field img {
  width: 100%;
}

.creator {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  background-color: #827e7e;
  transform: scale(0);
  padding-top: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  
  transition: .5s;
}
.creator.redy {
  transform: scale(1);
}

.creator p {
  color: #efefef;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.creator input[type=number] {
  width: 30%;
  height: 40px;
  font-size: 25px;
  padding: 5px;
  outline: none;
  display: block;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: #efefef;
  color: #4f9cae;
  
  transition: .3s;
}
.creator .menu-btn:first-of-type {
  margin-top: 100px;
}
.creator input[type=number]:focus {
  border: 1px solid #4f9cae;
  -webkit-box-shadow: 0 0 16px #666;
  box-shadow: 0 0 3px 6px #666;
}

.game-footer {
  position: fixed;
  width: 100vw;
  height: 30px;
  left: 0;
  bottom: 0;
  text-align: center;
}

.game-footer p {
  font-size: 16px;
  color: #efefef;
}

.game-footer p a {
  text-decoration: none;
  color: #4f9cae;
  letter-spacing: 2px;
  margin-left: 10px;
}