* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1px;
  cursor: url(../img/menu/cursor.png), default;
}

body {
  background-color: #151515;
  color: #fff;
  font-family: 'Slabo 27px', serif;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  width: 80vw;
  max-width: 1500px;
}

h1 {
  font-size: 100rem;
  margin: 40px 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #1e697b;
}

.header {
  text-align: center;
  position: fixed;
  margin: 0;
  top: 100px;
  left: 0;
  right: 0;
  
  transition: .8s;
}

main.in-game .header {
  top: 50px;
}

#container {
  margin: auto;
  height: 100vh;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-flag,
.bg-spade {
  height: 600px;
  width: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  bottom: 20px;
}

.bg-flag {
  background-image: url(../img/menu/flag.png);
  right: 20px;
}
.bg-spade {
  background-image: url(../img/menu/spade.png);
  left: 20px;
}

.menu-btns-container {
  position: absolute;
  height: 200px;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
}

.menu-btn {
  display: block;
  margin: 30px auto;
  position: relative;
  width: 300px;
  height: 60px;
  color: #fff;
  font-size: 40rem;
  border: none;
  outline: none;
  font-family: 'Slabo 27px', serif;
  background: none;
  cursor: url(../img/menu/cursor.png), default;
  text-shadow: 0 0 40px #0a3538;
}
.menu-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url(../img/menu/button.png);
  background-position: bottom;
  
  transition: .1s linear;
}
.menu-btn:hover::before {
  transform: scale(1.1);
}

.tile {
  width: 20px;
  height: 20px;
  background-color: #524a4a;
}

@media(max-width: 1200px) {
  main {
    width: 100vw;
  }
}